:root{
    --PrimaryColor1: blue;
    --SecondaryColor1: rgb(0, 145, 232);
    --TextColor1: white;
}

*{
    box-sizing: border-box;
}

svg{
    width: 1.8em;
    height: 1.8em;
}

.wrapper{
    margin: 1rem;
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.links{
    min-width: 25%;
}

.mainContent{
    display: flex;
    flex-direction: column;
    gap: 2em;
    flex-grow: 1;
}
