:root{
    --PrimaryColor1: blue;
    --SecondaryColor1: rgb(0, 145, 232);
    --BackgroundColor1: white;
    --TextColor1: white;
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

hr{
    color: black;
    background-color: black;
    height: 5px;
    width: 100%;
    outline: none;
    border: none;
}

svg{
    width: 1.8em;
    height: 1.8em;
}

.stealth{
    text-decoration: none;
    color: inherit;
}

.stealthBtn{
    text-decoration: none;
    color: inherit;
    background: none;
    border: none;
}

.siteBtn{
    text-decoration: none;
    color: var(--PrimaryColor1);
    border-color: var(--PrimaryColor1);
    border-radius: 1em;
    padding: .5em;
}

.siteBtn:hover{
    cursor: pointer;
    color: var(--TextColor1);
    background-color: var(--PrimaryColor1);
}

.wrapper{
    margin: 1rem;
    display: flex;
    flex-direction: row;
    gap: .5em;
}

.links{
    min-width: 25%;
}

.mainContent{
    display: flex;
    max-width: 40%;
    flex-direction: column;
    gap: 2em;
    flex-grow: 1;
}
