.wrapper{
    margin: 1rem;
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.links{
    width: 25%;
}

.mainContent{
    display: flex;
    flex-direction: column;
    gap: 2em;
    flex-grow: 1;
}
