.liked{
    color: var(--PrimaryColor1)
}

.interBtns{
    display: flex;
    gap: 2em;
    padding-left: 2em;
}

.interBtn{
    display: flex;
    text-align: center;
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    border: var(--PrimaryColor1) 2px transparent;
}

.interBtn:hover, .interBtn:focus{
    color: var(--SecondaryColor1);
}

.interBtn:focus{
    border: var(--PrimaryColor1) 2px solid;
}

.interBtn svg{
    margin: auto;
    color: inherit;
}

.interBtn p{
    margin-left: 1em;
    color: inherit;
}

.replyWrapper{
    display: flex;
    width: 100%;
    border-radius: 1em;
    border: black solid 1px;
    overflow: hidden;
}

.replyInput{
    width: 90%;
    max-width: 90%;
    padding: .5em;
    padding-left: 1.5em;
    border-radius: 1em 0 0 1em;
    border: black solid 1px;
    outline: none;
    user-select: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    resize: vertical;
    text-align: left;
}

.replyInput[contenteditable="true"]{
    -webkit-user-modify: read-write-plaintext-only;
}

.replyBtn{
    border: none;
    width: 10%;
    margin: 0;
    background-color: var(--PrimaryColor1);
    color: var(--TextColor1);
    cursor: pointer;
}

.replyBtn:hover, .replyBtn:focus{
    background-color: var(--SecondaryColor1);
}

.replyBtn:focus{
    border: var(--PrimaryColor1) 2px solid;
    border-radius: 0 1em 1em 0;
}
