.liked{
    color: var(--PrimaryColor1)
}

.interBtns{
    display: flex;
    gap: 2em;
    padding-left: 2em;
}

.interBtn{
    display: flex;
    text-align: center;
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.interBtn:hover{
    color: var(--SecondaryColor1);
}

.interBtn svg{
    margin: auto;
    color: inherit;
}

.interBtn p{
    margin-left: 1em;
    color: inherit;
}
