.wrapper{
    max-width: 15em;
    margin-right: 3em;
    margin-left: auto;
}

.link{
    color: black;
    text-decoration: none;
    display: flex;
    padding: .3em 0;
    padding-left: 2em;
    gap: .5em;
    transition: transform 5ms ease-in-out;
}

.link:hover:not(.linkActive){
    transform: scale(1.2);
    color: var(--SecondaryColor1);
}

.link:first-of-type{
    padding-top: .8em;
}

.link:last-of-type{
    padding-bottom: .8em;
}

.linkActive{
    background-color: var(--PrimaryColor1);
    color: var(--TextColor1);
}

.link svg{
    width: 2em;
    height: 2em;
    margin: auto 0;
}

.link p{
    margin: auto 0;
}
